/*
 * -------------------------------------------------
 *  nf-isoseq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

 params {
    reads_pattern    = "*_S*_L00*_R{1,2}_00*.fastq.gz"

    logs                      = "./logs"
    help             = false
    monochrome_logs  = false
 }

manifest {
  description     = 'Nextflow RNAseq pipeline'
  author          = 'Miles Smith <miles-smith@omrf.org>'
  mainScript      = 'rnaseq.nf'
  nextflowVersion = '>=20.04.1'
  version         = '0.1.0'
}

tower {
  enabled = false
}

timeline {
  enabled = true
  file    = "${params.logs}/execution_timeline.html"
}
report {
  enabled = true
  file    = "${params.logs}/execution_report.html"
}
trace {
  enabled = true
  file    = "${params.logs}/execution_trace.txt"
}
dag {
  enabled = true
  file    = "${params.logs}/pipeline_dag.svg"
}

/* 
 * defines execution profiles for different environments  
 */ 

profiles {
  standard {
    // process.container   = 'nextflow/rnaseq-nf:latest'
    trace.overwrite = true
    process.executor = 'local'
  }
  
  slurm {
    // process.container   = 'nextflow/nextflow:latest'
    process.module          = 'singularity'
    process.executor       = 'slurm'
    process.queue          = "serial"
    process.cpus           = 4
    process.mem            = "32 G"
    process.queueSize      = 30
    singularity.enabled    = true
  }
  
  gcp {
    workDir                = 'gs://memory-beta/nextflow'
    docker.enabled         = true
    process.container      = 'nextflow/nextflow:20.07.1'
    process.executor       = 'google-pipelines'
    process.machineType    = 'n1-highmem-4'
    process.cpus           = 4
  }  

  conda {
    process.conda = "${params.project}/conda.yml"
  }

  docker {

  }
}

cloud {
  process.machineType = 'n1-highmem-4'
  preemptible         = true
}

google {
  project = 'scrna-196615'
  region  = 'us-central1'
}

docker {
    enabled = true
}

singularity {
    enabled = false
    autoMounts = true
    runOptions = "--bind /Volumes/guth_aci_informatics/"
}

executor{
  name = "slurm"
  queueSize = 30
}