/*
 * -------------------------------------------------
 *  nf-isoseq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */
params.custom_config_base = "."

profiles {
  slurm { includeConfig "${params.custom_config_base}/conf/omrf_hpc.config" }
  google_batch   { includeConfig "${params.custom_config_base}/conf/google_batch.config" }
}

params {
  reads_pattern             = "*_S*_L00*_R{1,2}_00*.fastq.gz"

  build_index               = false
    
  genomic                   = "${params.refs}/genomic"
  species                   = "homo_sapiens"
  sequences                 = "${params.genomic}/${params.species}/sequences"
  indices                   = "${params.genomic}/${params.species}/indices"
  miscellaneous             = "${params.refs}/miscellaneous"

  reference_sequences      = null
  gtf                      = "${params.sequences}/gencode_v32_transcripts_with_viruses_v1.2.gtf"
  fasta                    = "${params.sequences}/gencode_v32_transcripts_with_viruses_v1.2.fa"
  transcriptome            = "${params.fasta}"
  star_index               = "${params.indices}/star"
  salmon_index             = "${params.indices}/salmon/gencode_v32_with_viruses_v1.2"
  pseudoalign              = false
  salmon_alignment_mode    = false // in what seems backwards, this keeps salmon_quant from trying to align the reads
  salmon_libtype           = "A"

  contaminants             = "${params.miscellaneous}/contaminants.fa.gz"
  // polyA                    = "${params.miscellaneous}/polyA.fa.gz"
  // truseq_adapter           = "${params.miscellaneous}/truseq.fa.gz"
  // truseq_rna_adapter       = "${params.miscellaneous}/truseq_rna.fa.gz"
  // rRNAs                    = "${params.miscellaneous}/human_ribosomal.fa"

  // default project input and output locations
  project                   = "${params.scratch}/project"
  raw_data                  = "${params.project}/data/raw"
  bcls                      = "${params.raw_data}/bcls"
  raw_fastqs                = "${params.raw_data}/fastqs"
  
  results                   = "${params.project}/results"
  qc                        = "${params.results}/qc"
  trimmed                   = "${params.results}/trimmed"
  aligned                   = "${params.results}/aligned"
  quant                     = "${params.results}/quant"

  logs                      = "${params.project}/logs"

  genome_ver                = "GENCODE"
  aligner                   = "salmon"
  reads_quant               = "salmon"
    
  bbmap_xmx                 = "64g"
  memory                    = 128
  cpus                      = 16
  time                      = '240.h'

  logs                      = "${params.results}/logs"
  help                      = false
  monochrome_logs           = false
  multiqc_config            = "./assets/multiqc_config.yaml"
}

report.overwrite = true

manifest {
  description     = 'Nextflow RNAseq pipeline'
  author          = 'Miles Smith <miles-smith@omrf.org>'
  mainScript      = 'main.nf'
  nextflowVersion = '>=23.04'
  version         = '2.2.0'
}

tower {
  enabled = true
  accessToken = secrets.TOWER_ACCESS_TOKEN
}

timeline {
  enabled   = true
  file      = "${params.logs}/execution_timeline.html"
  overwrite = true
}

report {
  enabled = true
  file    = "${params.logs}/execution_report.html"
  overwrite = true
}

trace {
  enabled   = true
  file      = "${params.logs}/execution_trace.txt"
  overwrite = true
}

dag {
  enabled   = true
  file      = "${params.logs}/pipeline_dag.svg"
  overwrite = true
}
