params {
    project_id                          = null
    location                            = 'us-central1'
    zone                                = '${params.location}/-a'
    workdir_bucket                      = null
    
    scratch            = "gs://memory-alpha/scratch"
    refs               = "gs://memory-alpha/references"
  
    //compute
    use_spot                            = true
    boot_disk                           = '100 GB'
    workers_service_account             = null

    //networking
    use_private_ip                      = true
    custom_vpc                          = null
    custom_subnet                       = null
}

workDir                                 = params.workdir_bucket

docker.enabled         = true

process {
    container       = 'nextflow/nextflow:latest'
    executor        = "google-lifesciences"
    errorStrategy   = { task.exitStatus==9 ? 'retry' : 'terminate' }
    // maxRetries      = 5
    machineType     = 'n2-highmem-4'
    // cpus            = 4
    withName: BBMAP_BBDUK {
        memory   = '32 GB'
        maxForks = 32
        cpus     = 4
    }
    withName: STAR_ALIGN {
        memory   = '64 GB'
        maxForks = 16
        cpus     = 8
        ext.args = 
            "--readFilesCommand zcat \
            --outSAMattributes All \
            --quantMode TranscriptomeSAM GeneCounts"
        publishDir = [
            path: { "${params.results}/aligned" },
            mode: 'copy',
            pattern: "*.bam"
        ]
    }
    withName: FASTQC {
        maxForks = 32
        cpus     = 2
        memory   = '8 GB'
    }
    withName: SALMON_QUANT {
        maxForks = 32
        cpus     = 4
        memory   = '32 GB'
        publishDir = [
            path: { "${params.results}/quant" },
            mode: 'copy',
            pattern: "*"
        ]
    }
    withName: MULTIQC {
        maxForks  = 32
        cpus      = 4
        memory    = '32 GB'
        publishDir = [
            path: { "${params.results}/qc" },
            mode: 'copy',
            pattern: "*.html"
        ]
    }
}

google {
    location                            = params.location
    zone                                = params.zone
    project                             = params.project_id
    lifeSciences.network                = params.custom_vpc
    lifeSciences.subnetwork             = params.custom_subnet
    lifeSciences.usePrivateAddress      = params.use_spot
    lifeSciences.preemptible            = params.use_private_ip
    lifeSciences.serviceAccountEmail    = params.workers_service_account
    lifeSciences.bootDiskSize           = params.boot_disk
}