params {
    config_profile_description = "OMRF HPC cluster"
    scratch                    = "/s/guth-aci"
    refs                       = "/Volumes/guth_aci_informatics/references"
}


process {
    module         = 'singularity'
    executor       = 'slurm'
    
    queue          = "serial"
    cpus           = 4
    max_cpus       = 24
    memory         = 64.GB
    max_memory     = 256.GB
    max_time       = 24.h
    queueSize      = 30

    withName: BBMAP_BBDUK {
        memory   = "32 GB"
        maxForks = 32
        cpus     = 4
    }
    withName: STAR_ALIGN {
        memory   = 64
        maxForks = 16
        cpus     = 8
        ext.args = 
            "--readFilesCommand zcat \
            --outSAMattributes All \
            --quantMode TranscriptomeSAM GeneCounts"
        publishDir = [
            path: { "${params.results}/aligned" },
            mode: 'copy',
            pattern: "*.bam"
        ]
    }
    withName: FASTQC {
        maxForks = 32
        cpus     = 2
        memory   = 8
    }
    withName: SALMON_QUANT {
        maxForks = 32
        cpus     = 4
        memory   = 32.GB
        publishDir = [
            path: { "${params.results}/quant" },
            mode: 'copy',
            pattern: "*"
        ]
    }
    withName: MULTIQC {
        maxForks  = 32
        cpus      = 4
        memory    = 32
        publishDir = [
            path: { "${params.results}/qc" },
            mode: 'copy',
            pattern: "*.html"
        ]
    }
}

docker.enabled  = false

singularity {
    enabled    = true
    autoMounts = true
    runOptions = "--bind /Volumes/guth_aci_informatics/"
}
