params {
    config_profile_description = "OMRF HPC cluster"
    scratch                    = "/s/guth-aci"
    refs                       = "/Volumes/guth_aci_informatics/references"
}


process {
    // module         = 'apptainer'
    executor       = 'slurm'
    container      = 'nextflow/nextflow:latest'
    queue          = "serial"
    cpus           = 4
    memory         = 64.GB

    withName: BBMAP_BBDUK {
        memory   = "24 GB"
        maxForks = 32
        cpus     = 11
    }
    withName: STAR_ALIGN {
        memory   = 64
        maxForks = 16
        cpus     = 8
        ext.args = 
            "--readFilesCommand zcat \
            --outSAMattributes All \
            --quantMode TranscriptomeSAM GeneCounts"
        publishDir = [
            path: { "${params.results}/aligned" },
            mode: 'copy',
            pattern: "*.bam"
        ]
    }
    withName: FASTQC {
        maxForks = 32
        cpus     = 3
        memory   = 2
    }
    withName: SALMON_QUANT {
        maxForks = 32
        cpus     = 6
        memory   = '4 GB'
        publishDir = [
            path: { "${params.results}/quant" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') || filename.endsWith('_meta_info.json') ? null : filename }
        ]
    }
    withName: MULTIQC {
        maxForks  = 64
        cpus      = 4
        memory    = '64 GB'
        publishDir = [
            path: { "${params.results}/qc" },
            mode: 'copy',
            pattern: "*.html"
        ]
    }
}

docker.enabled  = false

apptainer {
    enabled    = true
    autoMounts = true
    runOptions = "--bind /Volumes/guth_aci_informatics/"
}
